.filter {
    position: relative;
    width: 100px;
    height: 40px;
    background: #DC9BAD;
    margin-right: 30px;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.8;
    background-image: url('./img/filter.png');
    background-repeat: no-repeat;
    background-position: 38px 7px;
}
.filter:hover {
    opacity: 1;
}



