.filter {
    position: relative;
    width: 100px;
    height: 40px;
    background: #DC9BAD;
    margin-right: 30px;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.8;
    background-image: url('./img/filter.png');
    background-repeat: no-repeat;
    background-position: 38px 7px;
}
.filter:hover {
    opacity: 1;
}


.filterWindow {
    position: absolute;
    background: #DC9BAD;
    width: 320px;
    height: 200px;
    margin-top: 1px;
    opacity: 0;
}

.filterWindow:after , .filterWindow:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 25px;
    border-radius: 5px;
    background: goldenrod;
    top: 10px;
    right: 20px;
    cursor: pointer;
    opacity: 0.8;
}


.filterWindow::after {
    transform: rotate(-45deg);
}

.filterWindow::before {
    transform: rotate(45deg);
}
